.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modalInfo {
  margin-top: 30px;
}

.containerAvatar {
  text-align: center;
}

.userInfo {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
