.container {
  margin: 50px;
  padding: 20px;
}

.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0px 20px 0px 30px;
}

.isLoading {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}